.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.theme-icon {
  display: flex;
  font-size: 20px;
}

.icon.sun {
  color: #ffcc00;
}

.icon.moon {
  color: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg: #252525;
    --theme-color: #fff;
    --theme-hover: #333;
  }

  .icon.moon {
    color: #bbb;
  }
}
